@import "variables.sass"
@import "base.sass"
@import "helpers.sass"
@import "elements/all.sass"

.feed
  &-form
    &-input
      border: 0px


.wrapper
  max-width: 700px
  height: 100vh
  margin: auto

.box
  background: $white
  border: 1px $gray-dark solid
  margin: 32px 0
  border-radius: 3px
  box-sizing: border-box

  &-row
    border-bottom: 1px $gray-dark solid
    padding: 18px
    box-sizing: border-box

    &.is-dark
      background: #F6F6F4
      
    &:last-child
      border-bottom: 0px

.entry
  
  &-post
    display: flex

    &.is-comment
      padding-bottom: 20px

    &.is-comment &-avatar
      width: 100px

    &.is-comment &-username
      font-weight: 500
      padding-right: 10px
      
    &-avatar
      width: 80px
      
      figure
        width: 50px
        border-radius: 50%
        overflow: hidden
        margin: 0 auto 0 0

        img
          width: 100%
          display: block

    &-info
      flex: 1

    &-username
      color: $green
      font-weight: 500

    &-time
      color: $grey-darker
      font-size: .75rem
    
    &-actions
      a
        text-decoration: none
        color: $green
        margin-right: 50px


  &-reactions
    display: flex
    align-items: center
    padding: 10px 32px

    &-icon
      width: 20px
      height: 20px
      border-radius: 50%
      margin-left: -8px
      border: 2px $white solid
      @each $name, $value in $colors
        &.is-#{$name}
          color: $white
          background: $value

    &-count
      color: $green
      font-weight: 500
      padding: 0 10px
      font-size: 14px
      
    &-comments
      font-size: 14px
      flex: 1
      color: $grey-darker

  &-comments
    font-size: 14px  
    // background: $gray

    &-textarea
      height: 60px